.feed_container {
    display: flex;
    gap: 16px;
}

.toolbar {
    max-width: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: sticky;
    height: 300px;
    position: -webkit-sticky;
    position: sticky;
    top: 80px;

}

.toolbar a {
    padding: 8px;
}

.feed_profile {
    padding: 16px 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-bottom: 1px solid var(--default-100);
    margin-bottom: 32px;
}

.feed_profile .feed_introduce {
    padding: 8px 0;
    font-size: var(--font-size-md);
    line-height: var(--line-height-md);
    font-weight: var(--font-weight-m);
}