.feed_container {
    
}


.feed_profile {
    padding: 16px 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-bottom: 1px solid var(--default-100);
    margin-bottom: 32px;
}

.feed_profile .feed_introduce {
    padding: 8px 0;
    font-size: var(--font-size-md);
    line-height: var(--line-height-md);
    font-weight: var(--font-weight-m);
}