/* color */
:root {
    --background: #000;
    --foreground: #ECEDEE;
    --divider: #ffffff26;
    --focus: #006FEE;

    --content1: #18181b;
    --content2: #27272a;
    --content3: #3f3f46;
    --content4: #52525b;

    --default-50: #18181b;
    --default-100: #27272a;
    --default-200: #3f3f46;
    --default-300: #52525b;
    --default-400: #71717a;
    --default-500: #a1a1aa;
    --default-600: #d4d4d8;
    --default-700: #e4e4e7;
    --default-7100: #e5e7eb;


    --border-radius-xl: 50em;
    --border-radius-lg: 32px;
    --border-radius-md: 16px;
    --border-radius-sm: 8px;
    --font-size-xxs: 10px;
    --font-size-xs: 12px;
    --font-size-sm: 14px;
    --font-size-md: 16px;
    --font-size-lg: 18px;
    --font-size-xl: 24px;

    --line-height-xxs: 16px;
    --line-height-xs: 18px;
    --line-height-sm: 20px;
    --line-height-md: 24px;
    --line-height-lg: 28px;
    --line-height-xl: 30px;

    --font-weight-r: 400;
    --font-weight-m: 500;
    --font-weight-semi: 600;
    --font-weight-bold: 700;

    --disable-opacity: 0.5;
}





