
.modal_wrap {
    max-width: 500px;
    width: calc(100% - 32px);
    border-radius: 16px;
    min-height: 180px;
    padding: 0;
    border: none;
    overflow: hidden;
}

.modal_header {
    border-radius: 16px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    max-width: 500px;
    width: calc(100% - 32px);
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
}

.modal_header .title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: var(--font-size-md);
    line-height: var(--line-height-md);
    font-weight: var(--font-weight-bold);
}

.modal_header .title button {
    margin-left: auto;
}

.modal_body {
    padding: 16px 16px 0
}

.modal_body.lg {
    padding: 64px 16px 0;
}

.modal_body .modal_inner {
    overflow: auto;
}

.modal_footer {
    padding: 16px;

}

/* 컨펌 */
.confirm_modal {
    max-width: 320px;
    display: grid;
    grid-template-rows: 1fr auto;
}

.confirm_modal .modal_body .modal_inner {
    max-height: 180px;
    height: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirm_box {
    font-size: var(--font-size-md);
    line-height: var(--line-height-md);
    font-weight: var(--font-weight-m);
}

/* 신고 */
.report_modal .select_box {
    position: relative;

}

.report_modal .select_box svg {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
}

.report_modal .select_box select {
    appearance: none;
    width: 100%;
    padding: 8px 32px 8px 8px;
    font-size: var(--font-size-md);
    line-height: var(--line-height-md);
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--default-200);
    border-radius: var(--border-radius-sm);
    color: var(--default-50);
}

.report_modal .input_box {
    margin-top: 8px;
}

