.profile_edit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile_edit .img_box {
    position: relative;
    width: 120px;
    height: 120px;
}

.profile_edit .img_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-xl);
}

.profile_edit .profile_input {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--default-500);
    padding: 4px;
    border-radius: var(--border-radius-xl);
}


.form_group {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 24px;
}

.form_group > div:last-child {
    margin-top: auto;
}


.user_form {
    display: flex;
    flex-direction: column;

    gap: 16px;
}


.user_form .pw_box {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.sign_container {
    height: calc(100vh - 128px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign_container .sign_inner {
    background-color: var(--default-100);
    padding: 32px 16px;
    border-radius: var(--border-radius-md);
    max-width: 768px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sign_container .sign_inner > div, .sign_container .sign_inner button {
    flex: 1;
}

.sign_container .form_group > div:last-child {
    margin-top: 0;
}
